/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F8F9;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.background-white {
    background-color: white;
}

/* 
    HEADER
*/
header {
    padding: 15px;
    margin-bottom: 50px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

#main-logo {
    vertical-align: middle;
}













.test-div {
    padding: 30px;
    line-height: 30px;
}

.check {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    color: black;
    display: inline-block;
    text-align: center;
}

.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}