/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F8F9;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.background-white {
    background-color: white;
}

/* 
    HEADER
*/
header {
    padding: 15px;
    margin-bottom: 50px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

#main-logo {
    vertical-align: middle;
}

h3{
    display: inline-block;
    padding-left: 40px;
    padding-top: 20px;
}


/* 
    BUTTON 
*/
.area-div{
    padding-top: 10px;
    padding-left: 40px;
}

.button{
    border: 1px solid;
    border-radius: 10px;
    padding:5px;
    font-size: small;}
.task{
    color: #F6F8F9;
    background-color: cornflowerblue;
}

.section{
    color: grey;
    background-color: white;
}

hr{
    color: lightgrey;
    margin-top: 10px;
}










.test-div {
    padding: 30px;
    line-height: 30px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.check {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    color: black;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}

.icon{
    color: white;
    border-radius: 50px;
    height: 20px;
    width: 30px;
    padding: 5px; 
    font-size: x-small;  
}

.blue{
    background-color: #45abea;
}

.green{
    background-color: #b0c926;
}

.purple{
    background-color: #9c72e4;
}

.orange{
    background-color: #f2a541;
}

.azure{
    background-color: #62bfa7;
}

.rose{
    background-color: #62bfa7;
}